body {
    background-color: black;
    color: lime;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#editor {
    background-color: rgba(0, 255, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    height: 400px;
    border: 1px solid lime;
    border-radius: 5px;
    overflow-y: auto;
    white-space: pre-wrap;
}

#saveButton {
    background-color: lime;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#saveButton:hover {
    background-color: darkgreen;
}
